<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.yanfei.task.all.mapper.HostInfoMapper">


    <update id="updateHeart" parameterType="priv.yanfei.task.all.entity.HostInfo">
        update
            host_info
        set
            last_heart = #{lastHeart,jdbcType=TIMESTAMP},
            host_name = #{hostName,jdbcType=VARCHAR}
        where
            host_ip = #{hostIp,jdbcType=VARCHAR}
    </update>

    <update id="updateByHostIp" parameterType="priv.yanfei.task.all.entity.HostInfo">
        update
            host_info
        set
            host_name = #{hostName,jdbcType=VARCHAR},
            last_boot = #{lastBoot,jdbcType=TIMESTAMP},
            last_heart = #{lastHeart,jdbcType=TIMESTAMP}
        where
            host_ip = #{hostIp,jdbcType=VARCHAR}
    </update>

    <select id="selectByHostIp" resultType="priv.yanfei.task.all.entity.HostInfo">
        select
            host_ip,
            host_name,
            last_boot,
            last_heart
        from
            host_info
        where
            host_ip = #{hostIp,jdbcType=VARCHAR}
    </select>
</mapper>
